In [1]:
import pandas as pd

In [6]:
# csv 
df = pd.read_csv('C:\PYTHON_SRC\sample.csv',encoding='cp949')
df.iloc[ :3, :3]

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\USER\AppData\Local\Temp\ipykernel_41276\2019540544.py:2: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_csv('C:\PYTHON_SRC\sample.csv',encoding='cp949')

     상가업소번호        상호명  지점명
0  19956873     하나산부인과  NaN
1  20024149   타워광명내과의원  NaN
2  20152277  조정현신경외과의원  NaN