In [3]:
import seaborn as sns
import pandas as pd

In [4]:
mpg = sns.load_dataset('mpg')
mpg.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite

In [7]:
# groupby - cylinders별 마력의 평균
        #  name 별 연식의 평균
        # name이 공백을 기준으로 제조사[0] - 모델
        # 제조사 컬럼을 만들고 제조사를 추가
# 필터  - mpg 15이상인 모델
# index를 재 구성 - origin
# iloc, loc를 이용해서 데이터를 row, col 다양하게 출력

import seaborn as sns
import pandas as pd

# 데이터 불러오기
mpg = sns.load_dataset("mpg")

# 1. cylinders별 마력 평균
print(mpg.groupby("cylinders")["horsepower"].mean())

# 2. name별 연식 평균
print(mpg.groupby("name")["model_year"].mean())

# 3. 제조사 컬럼 만들기
mpg["manufacturer"] = mpg["name"].str.split().str[0]

# 4. mpg 15 이상인 모델만 필터링
mpg_filtered = mpg[mpg["mpg"] >= 15]

# 5. 인덱스를 origin으로 재구성
mpg_reindexed = mpg_filtered.set_index("origin")

# 6. iloc, loc 사용
print(mpg_reindexed.iloc[:3, :5])  # 위치 기준
print(mpg_reindexed.loc["usa", ["mpg", "horsepower"]].head(3))  # 라벨 기준

cylinders
3     99.250000
4     78.281407
5     82.333333
6    101.506024
8    158.300971
Name: horsepower, dtype: float64
name
amc ambassador brougham    73.0
amc ambassador dpl         70.0
amc ambassador sst         72.0
amc concord                79.0
amc concord d/l            78.0
                           ...
vw dasher (diesel)         80.0
vw pickup                  82.0
vw rabbit                  78.0
vw rabbit c (diesel)       80.0
vw rabbit custom           79.0
Name: model_year, Length: 305, dtype: float64
         mpg  cylinders  displacement  horsepower  weight
origin
usa     18.0          8         307.0       130.0    3504
usa     15.0          8         350.0       165.0    3693
usa     18.0          8         318.0       150.0    3436
         mpg  horsepower
origin
usa     18.0       130.0
usa     15.0       165.0
usa     18.0       150.0

In [6]:
"abc a b c".split()

['abc', 'a', 'b', 'c']

In [8]:
mpg.set_index('make')

KeyError: "None of ['make'] are in the columns"